body {
    font-family: sans-serif;
    line-height: 1.6;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  header h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  header form {
    display: flex;
    align-items: center;
  }
  header form input {
    margin-right: 1rem;
  }
  header form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #e60023;
    padding: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    background-color: #e60023;
    padding: 20px;
  }
  .contenido {
    position: absolute;
    margin-top: 80px;
    padding-right: 5px;
}

.imagenes {
    columns: 5 240px;
    margin: auto;

}

.imagenes .card-image {
    position: relative;
    padding: 6px;
}

.imagenes .card-image img {
    border-radius: 8%;
    min-width: 240px;
    max-width: 240px;
}


.card-image:hover > :first-child {
    filter: brightness(60%);
}

.card-image:hover > * {
    visibility: visible;
    display: inline;
}

.button {
    position: absolute;
    left: 60%;
    top: 5%; 
    background-color: #e60023;  
    padding: 13px 15px; 
    border-radius: 30px;
    border: none;
    visibility: hidden;
    display: none;
}

.imagenes .card-image button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", ;
}

#question{ 
    position: fixed;
    background-color: #F0F0F0;
    top: 88%;
    left: 94%;
    padding: 14px;
    font-weight: bolder;
    border-radius: 60%;
    color: #111111;
}
  main {
    display: flex;
  }
  section {
    flex: 1;
    padding: 1rem;
  }
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  section ul {
    list-style: none;
    padding: 0;
  }
  section ul li {
    margin-bottom: 0.5rem;
   }
  section ul li a {
    color: #000;
    text-decoration: none;
  }
  section ul li a:hover {
    text-decoration: underline;
  }
